@page "/registration"
@layout GeneralLayout
@using MRWBlogs.Models.LogIn
@using MRWBlogs.Utilities
@using SMAuthentication.Models
@inject NavigationManager NavigationManager
@rendermode InteractiveServer



<EditForm FormName="frmProduct" Model="registrator" OnSubmit="HandleSubmit">
   
    <DataAnnotationsValidator />
    <ValidationSummary class="text-danger" />
    <section id="MainReg">        
        <div class="container">
        <div class="HolderMsg">
            <div class="ErrMsg"> @ErrMessage </div>
            @if (IsProcesing)
            {
                <div class="InfoMsg">Processing... </div>
            }
        </div>
        <fieldset>
            <legend>Registration Form</legend>
            <div class="mb-3">
                <label class="form-label labels_of_controls">User Name</label>
                <input type="text" class="form-control midium_txt" id="txtUserName" placeholder="UserName is required" @bind-value="user_name">
            </div>
            <div class="mb-3">
                <label for="Password" class="form-label labels_of_controls">Password</label>
                <input type="password" class="form-control midium_txt" id="txtPass1" placeholder="Password is required" @bind-value="password">
            </div>
            <div class="mb-3">
                    <label for="Password" class="form-label labels_of_controls">Confirm password</label>
                <input type="password" class="form-control midium_txt" id="txtPass2" placeholder="Confirm the password" @bind-value="confirm_password">
            </div>
                <div class="mb-3">
                    <label for="Email" class="form-label labels_of_controls">Email</label>
                    <input type="email" class="form-control midium_txt" id="txtEmail" placeholder="Email is required" @bind-value="email">
                </div>
                <div class="mb-3">
                    <label for="FirstName" class="form-label labels_of_controls">First Name (optional)</label>
                    <input type="text" class="form-control midium_txt" id="txtFName" placeholder="" @bind-value="@FirstName">
                </div>
                <div class="mb-3">
                    <label for="LastName" class="form-label labels_of_controls">Last Name (optional)</label>
                    <input type="text" class="form-control midium_txt" id="txtLName" placeholder="" @bind-value="@LastName">
                </div>
                <div class="form-group py-2 mb-4">
                    <label for="Country" class="form-label labels_of_controls">Country (optional)</label>
                    <InputSelect class="form-select midium_txt" @bind-Value="@CountryId">
                        @foreach (var cat in registrator.Countries)
                        {
                            <option value="@cat.Id">@cat.CountryName</option>
                        }
                    </InputSelect>
                </div>
      
                <div class="col-md-3 form-group align-center mt-3">
                    <button type="submit" class="btn btn-outline-warning btn-txt" disabled="@IsProcesing">Register</button>
                </div>
        </fieldset>
        </div>
    </section>
</EditForm>

@code {
    private string user_name = string.Empty;
    private string password = string.Empty;
    private string confirm_password = string.Empty;
    private string email = string.Empty;
    private bool IsProcesing = false;
    private RegistrationViewModel registrator = new();
    private string ErrMessage { get; set; } = string.Empty;
    private short CountryId{ get; set; }
    private string FirstName { get; set; } = string.Empty;
    private string LastName { get; set; } = string.Empty;

    private async Task HandleSubmit()
    {
        if (confirm_password != password)
        {
            ErrMessage = "The entered passwords do not match!";
        }
        else
        {
            ErrMessage = string.Empty;
            IsProcesing = true;
            registrator = new()
            {
                UserName = user_name,
                Email = email,
                Password = password,
                CountryId = CountryId,
                FirstName = FirstName,
                LastName = LastName

            };
            StrResponse sr = await registrator.SaveRegistration();
            if (sr.ErrCode > 0)
            {
                ErrMessage = sr.GetStringByErrCode();
                IsProcesing = false;
                StateHasChanged();

            }
            else
            {
                NavigationManager.NavigateTo("/", forceLoad: true);
                IsProcesing = false;
            }
        }

    }
}
